<section class="vh-100 bg-primary">
  <div class="container py-5 h-100 bg-primary">
    <div class="row d-flex justify-content-center align-items-center h-100 bg-primary">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="fw-bold mb-4 text-uppercase">Reset Password</h3>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
              <div class="form-outline form-white mt-4">
                <app-text-input [type]="'password'" [formControl]="$any(resetPasswordForm.controls['password'])"
                  [label]="'New Password'"></app-text-input>
                <!-- Display error messages for password requirements -->
                <div *ngIf="resetPasswordForm.get('password')?.errors && resetPasswordForm.get('password')?.touched"
                  class="text-danger">
                  <div *ngIf="resetPasswordForm.get('password')?.errors?.['required']">Password is required.</div>
                  <div *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">Password must be at least 6
                    characters
                    long.</div>
                  <div *ngIf="resetPasswordForm.get('password')?.errors?.['maxlength']">Password must not exceed 15
                    characters.</div>
                  <div *ngIf="resetPasswordForm.get('password')?.errors?.['invalidPassword']">Password must contain at
                    least
                    one digit, one uppercase letter, one lowercase letter, and one unique character.</div>
                </div>
              </div>
              <div class="form-outline form-white mt-4">
                <app-text-input [type]="'password'" [formControl]="$any(resetPasswordForm.controls['confirmPassword'])"
                  [label]="'Confirm Password'"></app-text-input>
              </div>
              <div class="mt-4">
                <button [disabled]="!resetPasswordForm.valid" type="submit"
                  class="btn btn-outline-success btn-lg px-5 my-3">Reset
                  Password</button>
                <div>
                  <a routerLink="/" class="text-white"><u>Sign In</u></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
