<section class="vh-100 bg-primary">
  <div class="container py-5 h-100 bg-primary">
    <div class="row d-flex justify-content-center align-items-center h-100 bg-primary">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="fw-bold mb-4 text-uppercase">Forgot Password</h3>
            <div *ngIf="showAlert" class="alert alert-info">
              <p>If an account exists, a link to reset the password will be sent to the provided email</p>
            </div>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
              <div *ngIf="!showAlert" class="form-outline form-white mt-4">
                <app-text-input [formControl]="$any(forgotPasswordForm.controls['email'])"
                  [label]="'Email'"></app-text-input>
              </div>
              <div class="mt-4">
                <button *ngIf="!showAlert" type="submit" class="btn btn-outline-success btn-lg px-5 my-3">Reset
                  Password</button>
                <div>
                  <a routerLink="/" class="text-white"><u>Sign In</u></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>