<section class="position-sticky bg-primary" *ngIf="(accountService.currentUser$ | async) as user">
  <div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <a class="navbar-brand my-3" routerLinkActive="active">
      <strong> Chat App </strong>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <ng-container>
        <li class="nav-item my-sm-2 my-2 py-2" *ngIf="user.roles.includes('Admin')">
          <a class="nav-link text-white text-center text-sm-start" routerLink="/admin" aria-current="page">
            <i class="fa fa-key"></i>
            <span class="ms-2 d-none d-sm-inline"> Admin </span>
          </a>
        </li>
        <li class="nav-item my-sm-2 my-2 py-2">
          <a class="nav-link text-white text-center text-sm-start" routerLink="/home" aria-current="page">
            <i class="fa fa-home"></i>
            <span class="ms-2 d-none d-sm-inline"> Home </span>
          </a>
        </li>
        <li class="nav-item my-sm-2 my-2 py-2">
          <a class="nav-link text-white text-center text-sm-start" routerLink="/contacts" routerLinkActive="active"
            aria-current="page">
            <i class="fa fa-users"></i>
            <span class="ms-2 d-none d-sm-inline"> Contacts </span>
          </a>
        </li>
        <li class="nav-item my-sm-2 my-2 py-2">
          <a class="nav-link text-white text-center text-sm-start" routerLink="/chat" routerLinkActive="active"
            aria-current="page">
            <i class="fa fa-comments"></i>
            <span class="ms-2 d-none d-sm-inline"> Chat </span>
          </a>
        </li>

        <li class="nav-item my-sm-2 my-2 py-2">
          <a href="#sidemenu" class="nav-link text-white text-center text-sm-start" data-bs-toggle="collapse"
            data-bs-target="#sidemenu" data-bs-target="#sidemenu" routerLinkActive="active" aria-current="page">
            <i class="fa fa-bell"></i>
            <span class="ms-2 d-none d-sm-inline"> Notifications </span>
          </a>

          <div class="collapse" id="sidemenu">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1" id="#sidemenu"
              *ngFor="let notification of notifications">
              <li class="nav-item">
                <a class="nav-link text-white">{{notification}}</a>
              </li>
            </ul>
          </div>
        </li>

        <!-- (ERRORS) For Development Only -->
        <!-- <li class="nav-item my-sm-2 my-2">
            <a class="nav-link text-white text-center text-sm-start" routerLink="/errors" routerLinkActive="active"
              aria-current="page">
              <i class="fa fa-warning"></i>
              <span class="ms-2 d-none d-sm-inline">ERRORS</span>
            </a>
          </li> -->
      </ng-container>

    </ul>
    <hr>
    <div class="nav nav-pills flex-column mt-2 mt-sm-0" dropdown [dropup]="isDropup">
      <a id="button-dropup" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false" aria-controls="dropdown-dropup" dropdownToggle>

        <i *ngIf="!member" class="fa fa-user"></i>
        <img *ngIf="member" src="{{member.photoUrl}}" alt="" width="32" height="32" class="rounded-circle me-2">
        <span class="ms-1 d-none d-sm-inline"> {{accountService.getUsername()}} </span>
      </a>
      <div id="dropdown-dropup" class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" (click)="navigateToProfile()">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
      </div>
    </div>
  </div>
</section>