<div class="modal" id="photoEditModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header d-flex justify-content-between align-items-center">
        <button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <img *ngIf="member" src="{{ member.photoUrl }}" alt="photo of user" class="rounded-circle me-2">
      <div class="modal-footer">
        <!-- Button to delete the photo -->
        <button class="btn btn-sm btn-danger" (click)="deletePhoto()" [disabled]="!member?.photoUrl">
          <li class="fa fa-trash"> Delete </li>
        </button>
        <!-- <button *ngIf="uploader" type="button" class="fa fa-upload btn btn-success" (click)="uploader.uploadItem"
          [disabled]="!uploader.isFile"></button> -->

        <input class="btn btn-info btn-sm" type="file" ng2FileSelect [uploader]="uploader" />

        <!-- Button to update the photo -->
        <button type="button" class="fa fa-upload btn btn-success" (click)="updatePhoto()"
          [disabled]="!uploader?.getNotUploadedItems()?.length"> Upload
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Ng2 file upload -->