<app-navbar></app-navbar>

<div class="home container bg-dark justify-content-center align-items-center py-5">
  <!-- Quick Actions -->
  <div class="card bg-dark text-white mt-5">
    <div class="card-body text-center">
      <h5 class="card-title">Quick Actions</h5>
      <!-- Buttons for quick actions -->
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-3">
          <div class="button-box rounded p-3 bg-primary" routerLink="/chat" style="cursor: pointer;">
            <li class="btn btn-primary btn-lg">
              <i class="fa fa-comments "></i> Start Chat
            </li>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-3">
          <div class="button-box rounded p-3 bg-primary" routerLink="/contacts" style="cursor: pointer;">
            <li class="btn btn-primary btn-lg">
              <i class="fa fa-address-book"></i> View Contacts
            </li>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="button-box rounded p-3 bg-primary" routerLink="/profile" style="cursor: pointer;">
            <li class="btn btn-primary btn-lg">
              <i class="fa fa-user"></i> Account Info
            </li>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="button-box rounded p-3 bg-primary" routerLink="/" style="cursor: pointer;">
            <li class="btn btn-primary btn-lg">
              <i class="fa fa-history"></i> Recent Activity
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>