<section class="vh-100 bg-primary">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
                <app-text-input [formControl]="$any(registerForm.controls['email'])" [label]="'Email'"></app-text-input>
                <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'"
                  [type]="'password'"></app-text-input>
                <!-- Display error messages for password requirements -->
                <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
                  class="text-danger">
                  <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
                  <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6
                    characters
                    long.</div>
                  <div *ngIf="registerForm.get('password')?.errors?.['maxlength']">Password must not exceed 15
                    characters.</div>
                  <div *ngIf="registerForm.get('password')?.errors?.['invalidPassword']">Password must contain at
                    least
                    one digit, one uppercase letter, one lowercase letter, and one unique character.</div>
                </div>
                <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])"
                  [label]="'Confirm Password'" [type]="'password'"></app-text-input>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-white"><u>Terms of service</u></a>
                  </label>
                </div>

                <button [disabled]="!registerForm.valid" type="button" class="btn btn-lg btn-outline-primary"
                  type="submit">Register</button>
              </form>
            </div>

            <div>
              <p class="">Already have an account?
                <a routerLink="/" class="text-white"><u>Sign In</u></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>