<section class="vh-100 bg-primary">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
                <!-- <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div> -->

                <div class="form-outline mb-4">
                  <input type="text" class="form-control form-control-lg bg-dark text-white" name="email"
                    [(ngModel)]="registration.email" />
                  <label class="form-label" for="form3Example3cg">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" class="form-control form-control-lg bg-dark text-white" name="password"
                    [(ngModel)]="registration.password" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" class="form-control form-control-lg bg-dark text-white" name="confirmPassword"
                    [(ngModel)]="registration.confirmPassword" />
                  <label class="form-label">Confirm Password</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-white"><u>Terms of service</u></a>
                  </label>
                </div>

                <button type="button" class="btn btn-lg btn-outline-primary" type="submit">Register</button>
                <!-- <button class="btn btn-default text-white" type="button" (click)="cancel()"></button> -->

              </form>
            </div>

            <div>
              <p class="">Already have an account?
                <a routerLink="/" (click)="cancel()" class="text-white"><u>Sign In</u></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>