<app-navbar></app-navbar>

<!-- <div class="divider bg-primary"></div> -->

<div class="contact-list py-5 bg-dark" style="width: 380px;" *ngIf="(accountService.currentUser$ | async)">
  <span class="fs-5 fw-semibold text-white">Contact List</span>
  <div class="input-group mb-3 my-3">
    <input type="text" class="form-control text-white bg-dark" placeholder="Username or Email" aria-label="Submit"
      aria-describedby="button-addon2" [(ngModel)]="contactToAdd">
    <button class="btn btn-outline-secondary" type="submit" (click)="addContact()" id="button-addon1">Add</button>
  </div>
  <div class="list-group list-group-flush border-bottom" *ngFor="let contact of contacts$ | async">
    <hr>
    <button (click)="loadContact(contact.id)"
      class="list-group-item list-group-item-action py-4 lh-tight bg-dark text-white" aria-current="true">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <div class="chat-img float-end">
          <span [class.is-online]="(presenceService.onlineUser$ | async)?.includes(contact.id)">
            <li class="fa fa-user-circle"></li>
          </span>
          <img class="rounded-circle mx-3" width="40px" height="40px" src="{{contact.photoUrl}}" alt="img of sender">
          <strong class="mb-1 mx-1">{{ contact.userName }}</strong>
        </div>
        <small class="text-white">></small>
      </div>
    </button>
  </div>

  <div class="contact-detail text-white bg-dark py-5" *ngIf="contact">
    <div class="card bg-dark text-white">
      <strong class="card-title">Contact Details</strong>
      <img [src]="contact.photoUrl" class="photo" class="rounded-circle me-2" width="150" height="150">
      <hr>
      <div class="d-flex align-items-center">
        <div style="position: relative; left:3%">
          <strong> Username: </strong>
          <p class=" mb-3">{{contact.userName}}</p>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div style="position: relative; left:3%">
          <strong> Email: </strong>
          <p class="mb-3">{{contact.email}}</p>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div style="position: relative; left:3%">
          <strong> Member Since: </strong>
          <p class="mb-3">{{contact.memberSince | date: 'MM:dd:yyyy'}}</p>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div style="position: relative; left:3%">
          <strong> Last Active: </strong>
          <p class="mb-3">{{contact.lastActive | date: 'medium'}}</p>
        </div>
      </div>
      <div class="btn-group row">
        <div class="my-3 mx-3">
          <button class="btn btn-success" (click)="message(contact.id)">Message</button>
        </div>

        <div class="my-3 py-5 mx-3">
          <button class="btn btn-danger" (click)="removeContact(contact.id)">Remove Contact</button>
        </div>
      </div>
    </div>
  </div>
</div>