<app-navbar></app-navbar>

<div class="divider bg-primary"></div>

<div class="contact-list bg-dark" style="width: 380px;">
  <span class="fs-5 fw-semibold text-white">Contact List</span>
  <div class="input-group mb-3 my-3">
    <input type="text" class="form-control text-white bg-dark" placeholder="Username" aria-label="Submit"
      aria-describedby="button-addon2" [(ngModel)]="contactToAdd.userName">
    <button class="btn btn-outline-secondary" type="submit" (click)="addContact()" id="button-addon1">Add</button>
  </div>
  <div class="list-group list-group-flush border-bottom" *ngFor="let contact of contacts">
    <hr>
    <button (click)="loadContact(contact.userName)"
      class="list-group-item list-group-item-action py-4 lh-tight bg-dark text-white" aria-current="true">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">{{contact.userName}}</strong>
        <small class="text-muted">something</small>
      </div>
    </button>
  </div>
</div>

<div class="contact-detail text-white bg-dark" *ngIf="contact">
  <img [src]="contact.photoUrl" class="card-img-top">
  <strong class="card-title">{{ contact.userName }}</strong>
  <hr>
  <div class="btn-group row">
    <div class="my-3 mx-3">
      <button class="btn btn-success" (click)="message()">Message</button>
    </div>

    <div class="my-3 mx-3">
      <button class="btn btn-danger" (click)="removeContact()">Remove Contact</button>
    </div>
  </div>
</div>