<app-navbar></app-navbar>

<div class="divider bg-primary"></div>

<section class="vh-100 bg-dark">
  <div class="notifications container py-5 vh-100 bg-dark">
    <div>
      Notifications
      <hr style="color:white">
    </div>
  </div>
</section>


<!-- <div class="divider bg-primary"></div> -->
<!--
<div class="message container py-5 bg-dark" *ngIf="(accountService.currentUser$ | async)">
  <div>
    Messages
    <hr style="color:white">
    <div class="btn-group" name="container">
      <button class="btn btn-primary mx-1" btnRadio="Unread" [(ngModel)]="container" (click)="loadMessages()">
        <i class="fa fa-envelope"></i> Unread
      </button>
      <button class="btn btn-primary mx-1" btnRadio="Inbox" [(ngModel)]="container" (click)="loadMessages()">
        <i class="fa fa-envelope-open"></i> Inbox
      </button>
      <button class="btn btn-primary mx-1" btnRadio="Outbox" [(ngModel)]="container" (click)="loadMessages()">
        <i class="fa fa-paper-plane"></i> Outbox
      </button>
    </div>

    <div class="row" *ngIf="!messages || messages.length === 0">
      <h3 class="py-5 text-white">No Messaages</h3>
    </div>

    <div class="py-5 row" *ngIf="messages && messages.length > 0">
      <table class="table table-hover" style="cursor: pointer;">
        <thead>
          <tr>
            <th style="width: 40%">Message</th>
            <th style="width: 20%">From / To</th>
            <th style="width: 20%">Sent / Received</th>
            <th style="width: 20%"></th>
          </tr>
        </thead>
        <tbody class="message-container align-middle">
          <tr *ngFor="let message of messages" routerLink="">

            <td class="bg-dark text-white">{{message.content}}</td>
            <td class="bg-dark text-white">
              <div *ngIf="container == 'Outbox'">
                <img class="rounded-circle me-2" width="50" height="50" src="{{message.recipientPhotoUrl}}"
                  alt="recipient photo">
                <strong>{{message.recipientUsername | titlecase}}</strong>
              </div>
              <div *ngIf="container != 'Outbox'">
                <img class="rounded-circle me-2" width="50" height="50" src="{{message.senderPhotoUrl}}"
                  alt="sender photo">
                <strong>{{message.senderUsername | titlecase}}</strong>
              </div>
            </td>

            <td class="bg-dark text-white">{{message.messageSent}}</td>
            <td class="bg-dark text-white">
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<!-- <div class="d-flex justify-content-center" *ngIf="pagination">
<pagination>

</pagination>
</div> -->