<!-- Selected User(s) Info start -->
<div class="selected-user" *ngIf="contact">
  <span><img *ngIf="contact.photoUrl" src="{{contact.photoUrl}}" class="rounded-circle me-2" width="50"
      height="50"><span class="name text-white">{{ contact.userName }},</span></span>
</div>
<!-- Selected User(s) Info end-->

<!-- Message Thread UI start -->
<div class="card bg-dark">
  <div class="card-body scrollable-message-thread">
    <ul class="chats">
      <li *ngFor="let message of messageThread">
        <div>
          <span class="chat-img float-end">
            <img class="rounded-circle" width="40px" height="40px" src="{{message.senderPhotoUrl}}" alt="img of sender">
          </span>
          <strong class="text-white float-end px-2">{{ message.senderUsername }}</strong>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">{{ message.createdAt | date: "short" }}</span>
              </small>
            </div>
            <p class="text-white">{{message.content}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="chat-form my-2">
    <form #messageForm="ngForm" autocomplete="off" class="form-group" (ngSubmit)="sendMessage()">
      <textarea name="messageContent" class="form-control bg-dark text-white" type="text"
        placeholder="Type a message..." [(ngModel)]="messageContent" (keydown.enter)="onEnterPress($event)"></textarea>
      <button [disabled]="!messageContent || messageContent.length === 0" type="submit" class="btn btn-primary mt-2">
        <li class="fa fa-send"></li>
      </button>
    </form>
  </div>
</div>
<!-- Message Thread UI end -->